<% className = form_action.delete(:class) %>
<%= form_tag(form_action, :id => "#{form_type}_form", :enctype => "multipart/form-data", :class => className) do %>

  <%= render :partial => "form" %>

<% end %>
<%= form_tag "/admin/content/merge" do %>
  <input type="hidden" name="article_id" value="<%=@article.id%>">
  <h1>Merge Articles</h1>
  <label for="merge_with">Article ID</label>
  <input type="text" name="merge_with" value="">
  <br>
  <%= submit_tag "Merge" %>
<% end %>
